@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  max-width: 400px;
  margin: auto;
  font-family: "Inter", sans-serif;
  padding: 0 34px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.react-calendar__navigation__label {
  font-size: 20px;
  font-weight: 600;
}

.react-calendar {
  border: 0px !important;
}

.react-calendar__tile .react-calendar__month-view__days__day {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: center;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__month-view__days__day:nth-child(7n + 1) {
  color: #f84440;
}

.react-calendar__month-view__days__day:nth-child(7n) {
  color: #4141f6;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #e6e6e6 !important;
}

.react-calendar__tile--now {
  border: solid 1px #ffd5d4 !important;
  background-color: white !important;
  border-radius: 9999px;
}

.react-calendar__tile--active {
  background-color: #ffd5d4 !important;
  color: black !important;
  border-radius: 9999px;
}

.react-calendar__tile:hover {
  background-color: #ffd5d4 !important  ;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* ensure it's on top of everything */
}

.loading-spinner {
  background-image: url("/circle_char.svg");
  border-radius: 50%; /* circle shape */
  background-position: center;
  background-size: cover;
  width: 81px;
  height: 81px;
  filter: drop-shadow(0px 1px 12px white);
  animation: spin 1s linear infinite; /* spinning animation */
}

.loading-spinner-size_not_change {
  animation: spin 1s linear infinite; /* spinning animation */
}

.loading-spinner-size_change {
  animation: spin_size_change 1s linear infinite; /* spinning animation */
}

@keyframes spin_size_change {
  0% {
    width: 81px;
    height: 81px;
    transform: rotate(0deg);
  }
  50% {
    width: 106px;
    height: 106px;
  }
  100% {
    width: 81px;
    height: 81px;
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    width: 81px;
    height: 81px;
    transform: rotate(0deg);
  }

  100% {
    width: 81px;
    height: 81px;
    transform: rotate(360deg);
  }
}

.circle-btn-shadow {
  filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.1));
  -webkit-filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.1));
  border-radius: 9999px;
}

.circle-btn-shadow-show {
  box-shadow:
    3px 5px 10px rgba(0, 0, 0, 0.2),
    -3px -8px 8px rgba(255, 255, 255, 0.12);
  -webkit-box-shadow:
    3px 5px 10px rgba(0, 0, 0, 0.2),
    -3px -8px 8px rgba(255, 255, 255, 0.12);
  border-radius: 9999px;
}

.home-main-calendar > .react-calendar__navigation {
  display: none;
}

.react-calendar__tile {
  aspect-ratio: 1/1;
}

.bottom_main-content {
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.1);
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
.bg-image-move {
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 10s linear infinite alternate;
}
