.react-calendar__navigation__label {
  font-size: 20px;
  font-weight: 600;
}

.react-calendar {
  border: 0px !important;
}

.react-calendar__tile .react-calendar__month-view__days__day {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: center;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__month-view__days__day:nth-child(7n + 1) {
  color: #4141f6;
}

.react-calendar__month-view__days__day:nth-child(7n) {
  color: #f84440;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #e6e6e6 !important;
}

.react-calendar__tile--now {
  border: solid 1px #ffd5d4 !important;
  background-color: white !important;
  border-radius: 9999px;
}

.react-calendar__tile--active {
  background-color: #ffd5d4 !important;
  color: black !important;
  border-radius: 9999px;
}

.react-calendar__tile:hover {
  background-color: #ffd5d4 !important  ;
}
